        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
			<ul id="login-dp" class="dropdown-menu">
				<li>
					 <div class="row">
							<div class="col-md-12">


								Login via
								<div class="social-buttons">
									<a href="/auth/facebook" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
								<!-- 	<a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
 -->								</div>
                                or
								 <form class="form" role="form" method="post" action="<%=session_path%>" accept-charset="UTF-8" id="login-nav">
										<div class="form-group">
											 <label class="sr-only" for="session_email">Email address</label>
											 <input type="email" class="form-control" id="session_email" placeholder="Email address" name="session[email]" required>


										</div>
										<div class="form-group">
											 <label class="sr-only" for="session_password">Password</label>
											 <input type="password" name="session[password]" class="form-control" id="session_password" placeholder="Password" required>
                                             <div class="help-block text-right"><a href="/passwords/new">Forget the password ?</a></div>
										</div>
										<div class="form-group">
											 <button type="submit" value="Sign in" name="commit" class="btn btn-primary btn-block">Sign in</button>
										</div>
										<div class="checkbox">
											 <label>
											 <input type="checkbox"> keep me logged-in
											 </label>
										</div>
								 </form>
							</div>
							<div class="bottom text-center">
								New here ? <a href="/sign_up"><b>Join Us</b></a>
							</div>
					 </div>
				</li>
			</ul>
        </li>



