<div class="container classic-form">
	<h1>Edit Your List</h1>
	<%= render 'form' %>

	<%= link_to 'Delete', listing_path(@listing),
    method: :delete,
    data: { confirm: 'Are you sure?' } %>
</div>