<h1>Create a new List</h1>
 
<%= render 'form' %>
 
<%= link_to 'Back', listings_path %>

<script async type="text/javascript" src="//maps.googleapis.com/maps/api/js?libraries=places&callback=googleMapInitialize"></script>