<div class="container">
  <%= form_for @booking do |f| %>
    <%= render partial: "form", locals: { f: f }%>
    <p>
      <%= f.submit %>
    </p>
  <% end %>

<%= link_to 'Back', @listing %>

</div>