<%= render 'slider' %>
<div class="container">

<center>

<h1 class="h1-top-margin">It is time to start living. <small>there is no perfect timing</small></h1>
<br>
          <div id="custom-search-input">
              <div class="input-group col-md-8 col-centered">
                  <input type="text" class="search-query form-control search-big" placeholder="Search places you'd love to visit" />
                  <span class="input-group-btn col-centered">
                      <button class="btn btn-danger btn-lg" type="button">
                          <span class=" glyphicon glyphicon-search"></span>
                      </button>
                  </span>
              </div>
          </div>
<br><br><br><br>

<div class="clearfix"></div>

</center>


  <div class="row">
    <div class="col-lg-2 col-sm-3 col-xs-4">
        <a href="#">
             <img src="img/gallery/1.png" class="thumbnail img-responsive">
        </a>
    </div>
     <div class="col-lg-2 col-sm-3 col-xs-4">
        <a href="#">
             <img src="img/gallery/2.jpg" class="thumbnail img-responsive">
        </a>
    </div>
     <div class="col-lg-2 col-sm-3 col-xs-4">
        <a href="#">
             <img src="img/gallery/3.jpg" class="thumbnail img-responsive">
        </a>
    </div>
     <div class="col-lg-2 col-sm-3 col-xs-4">
        <a href="#">
             <img src="img/gallery/4.jpg" class="thumbnail img-responsive">
        </a>
    </div>
  </div>
  <div class="row">  
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <a href="#">
             <img src="img/gallery/9.jpg" class="thumbnail img-responsive">
        </a>
    </div>
     <div class="col-lg-4 col-sm-6 col-xs-12">
        <a href="#">
             <img src="img/gallery/10.jpg" class="thumbnail img-responsive">
        </a>
    </div>
  </div>  
  <div class="row">  
    <div class="col-lg-2 col-sm-3 col-xs-4">
        <a href="#">
             <img src="img/gallery/5.jpg" class="thumbnail img-responsive">
        </a>
    </div>
    <div class="col-lg-2 col-sm-3 col-xs-4">
        <a href="#">
             <img src="img/gallery/6.jpg" class="thumbnail img-responsive">
        </a>
    </div>
    <div class="col-lg-2 col-sm-3 col-xs-4">
        <a href="#">
             <img src="img/gallery/7.jpg" class="thumbnail img-responsive">
        </a>
    </div>
    <div class="col-lg-2 col-sm-3 col-xs-4">
        <a href="#">
             <img src="img/gallery/8.jpg" class="thumbnail img-responsive">
        </a>
    </div> 
  </div>
  
  

<hr>

<center>
<p class="lead">Don't worry, be happy. With our <code>GUARANTEE</code> program you have nothing to lose. <code>Travel, enjoy, learn and live</code> anywhere and anytime in the whole World. Find your place <code>now</code>.</p>
<p>TESTIMONIALS HERE</p>
</center>



</div>