#footer {
  background-color: #fafafa;
  opacity: 20%;
  padding: 50px 0px;
  border-radius: 5px;
}

#footer a {
     color: #d9534f;
}

#footer a:hover {
     color: #bd4746;
}

#creditcards {
  width: 300px;
  height: auto;
}