<div class="container">
<hr class="featurette-divider">
<footer>
<div class='row'>
  <div class="col-md-4 col-centered">
      <h4>About us</h4> 
      <hr>
      <ul>
      <li>Home</li>
      <li>About us</li>
      <li>Contact us</li>
      <li>Testimonials</li>
      </ul>
  </div>
  <div class="col-md-4 col-centered">
    <h4>Guarantee</h4> 
  </div>
  <div class="col-md-4 col-centered">
    <h4>Contact us</h4> 
  </div>
</div>
 <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->


  <!-- FOOTER -->

  <p class="pull-right"><a href="#">Back to top</a></p>
  <p>© 2015 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
</footer>
</div>